---
// pages/product/[id].astro

import { Header } from '@/components/header'
import Footer from '@/components/footer.astro'
import Layout from '@/layouts/Layout.astro'
import Product from '@/components/product'

export const getStaticPaths = () => {
	return [{ params: { id: 'ejemplo' } }, { params: { id: '2' } }, { params: { id: '3' } }]
}

const { id } = Astro.params
---

<Layout>
	<div class="min-h-screen bg-white">
		<Header client:load />
		<Product />
		<h1 class="text-3xl font-bold text-center py-20">ID del producto: {id}</h1>
		<Footer />
	</div>
</Layout>
