<div class="giscus-comments p-10 max-w-2xl mx-auto bg-white rounded-xl border border-gray-200">
	<h2 class="text-2xl font-bold mb-4 text-gray-800 text-center">Comentarios</h2>
	<script
		src="https://giscus.app/client.js"
		data-repo="Luis-Fernando-MP/codari"
		data-repo-id="R_kgDOO1Hp6w"
		data-category="Ideas"
		data-category-id="DIC_kwDOO1Hp684CrGI6"
		data-mapping="pathname"
		data-strict="0"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="bottom"
		data-theme="light"
		data-lang="es"
		data-loading="lazy"
		crossorigin="anonymous"
		async></script>
</div>
